.header {
  background-color: var(--color-base);
  background-position: center;
  background-size: cover;

  .headerWrapper {
    padding: 4vw 0;
    background-color: rgba(#000, 0.3);

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .image {
        width: 120px;
        height: 120px;
        margin-bottom: var(--margin);
        border-radius: 50%;
        overflow: hidden;
        background-color: var(--color-base);
        box-shadow: var(--shadow-normal), 0 0 0 transparent;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h1 {
        color: var(--color-white);
      }

      .meta {
        margin-bottom: var(--margin);

        a {
          margin: 0 10px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .headerWrapper .content .image {
      width: 80px;
      height: 80px;
    }
  }
}
