.main main {
  padding-bottom: 0;

  .content {
    margin-top: 4vw;

    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 4vw 0;
      background-color: var(--color-base);

      .author {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: var(--margin);
        color: #fff;

        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: var(--shadow-normal);
          margin-bottom: 1rem;

          @media (max-width: 680px) {
            width: 150px;
            height: 150px;
          }
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
