.header {
  color: #fff;
  background: var(--color-base);
  background-position: center;
  background-size: cover;

  .banner {
    padding: 10vw 0;
    text-align: center;
    background-color: rgba(#000, 0.3);

    div {
      max-width: 80%;
      animation-name: fade-top;
      animation-duration: 0.5s;
      animation-timing-function: var(--transition-bezier);

      h1 {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 5rem;
        line-height: 1.3em;
        font-family: var(--font-unifraktur);
      }

      p {
        margin: 5px 0 0 0;
        padding: 0;
        font-size: 2.4rem;
        line-height: 1.3em;
        color: var(--color-secondary);
      }
    }
  }
}

.main {
  opacity: 0;
  animation-name: fade-bottom;
  animation-duration: 0.5s;
  animation-timing-function: var(--transition-bezier);
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}

.footer {
  background-color: #fff;
  color: var(--color-base);
  padding: 40px 0;
  text-align: center;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      margin: 10px 0;

      a {
        text-decoration: none;
        color: inherit;
      }

      &:not(:last-of-type) a {
        margin: 0 10px;
      }

      &:nth-child(2) a {
        margin: 0 20px;
      }
    }
  }
}

// TODO: make function for this
@keyframes fade-top {
  from {
    transform: translateY(-10vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
