.navbar {
  top: 0;
  background-color: #fff;
  padding: 20px 30px;
  font-size: 1.8rem;

  .navbarItem {
    margin-right: 30px;
    color: var(--color-terciary);
    text-decoration: none;
    transition: all 0.12s cubic-bezier(0.02, 0.01, 0.5, 1);

    &.active {
      color: var(--color-primary);
    }

    &:first-child {
      font-weight: bold;
      color: var(--color-base);
      font-family: var(--font-unifraktur);
      font-size: 2.4rem;
    }

    &:hover {
      color: var(--color-primary);
    }
  }
}

.banner {
  animation-name: fade-top;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.02, 0.01, 0.5, 1);
}

.main {
  opacity: 0;
  animation-name: fade-bottom;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.02, 0.01, 0.5, 1);
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}

.footer {
  background-color: #fff;
  color: var(--color-base);
  padding: 40px 0;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      margin: 10px 0;

      a {
        text-decoration: none;
        color: inherit;
      }
      &:not(:last-of-type) a {
        margin: 0 10px;
      }
    }
  }
}

// TODO: make function for this
@keyframes fade-top {
  from {
    transform: translateY(-10vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
