.main main {
  padding-bottom: 0;
}

.parallax {
  margin: 0 0 3vw;

  img {
    object-fit: cover;
  }

  .featureImage {
    height: 70vh;
  }
}

.shareContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vw 0;

  a {
    background-color: var(--color-card);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    transition: all 0.25s var(--transition-bezier);
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.authorContainer {
  background-color: var(--color-base);
  padding: 4vw;
  display: block;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;

    & > div p:first-child {
      text-decoration: underline;
    }
  }

  & > div {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .authorImage {
      height: 120px;
      width: 120px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 4vw;
    }

    p {
      margin: 0;

      &:first-child {
        font-weight: bold;
        color: var(--color-primary);
      }
    }
  }
}

.hookPost {
  margin: 4vw 0;
  width: 100%;

  .hookTitle {
    text-align: center;
    margin-bottom: 4rem;
  }

  .hookContainer {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;

    article {
      height: 300px;
      margin: 15px;

      flex-basis: 500px;
      flex-shrink: 0;
      flex-grow: 0;
      scroll-snap-align: center;
    }
  }
}

@media (max-width: 1220px) {
  .hookPost .hookContainer article {
    flex-basis: 400px;
    height: 250px;
  }
}

@media (max-width: 920px) {
  .hookPost .hookContainer article {
    flex-basis: 300px;
    height: 200px;
  }
}

@media (max-width: 690px) {
  .hookPost .hookContainer {
    justify-content: initial;
    flex-direction: row-reverse;

    article {
      flex-basis: 300px;
      height: 200px;
      margin: 8px;
    }
  }
}

@media (max-width: 500px) {
  .parallax .featureImage {
    height: 50vh;
  }

  .authorContainer > div .authorImage {
    height: 80px;
    width: 80px;
  }
}
