.main main {
  padding-bottom: 0;
}

.banner {
  height: 50vh !important;
}

.shareContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vw 0;

  a {
    background-color: var(--color-card);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    transition: all 0.25s var(--transition-bezier);

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.authorContainer {
  background-color: var(--color-base);
  padding: 4vw;
  display: block;
  text-decoration: none;
  color: inherit;

  &:hover > div p:first-child {
    text-decoration: underline;
  }

  & > div {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .authorImage {
      height: 120px;
      width: 120px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 4vw;
    }

    p {
      margin: 0;

      &:first-child {
        font-weight: bold;
        color: var(--color-primary);
      }
    }
  }
}

@media (max-width: 500px) {
  .banner {
    height: 40vh !important;
  }

  .authorContainer > div .authorImage {
    height: 80px;
    width: 80px;
  }
}
